{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Medicamentos</title>
	<link rel="stylesheet" href="{% static 'css/styleMedicar.css' %}">
</head>
<body>
	<div class="container-medicar">
		<table class="table-medicar" border="1">
			<tr>
				<td class="text-center" rowspan="2">
					<img src="{% static 'img/LOGO-PREVIMEDI.png' %}" alt="" width="200px">
					<p class="min-text">NIT. 900.665.930-3</p>
				</td>
				<td colspan="3">
					<span>Nombres y apellidos:</span> <br>
					PESTANA NOBLES JUAN PABLO
				</td>
				<td>
					<span>Fecha:</span> <br>
					2016-01-22
				</td>
			</tr>
			<tr>
				<td>
					<span>Tipo de identificación:</span> CC
				</td>
				<td>
					<span>No. de documento:</span> <br/>
					1.019.116.846
				</td>
				<td>
					<span>Tipo de usuario:</span> <br/>
					Contributivo
				</td>
				<td>
					<span>Código CIE 10:</span> <br/>
					Z100
				</td>
			</tr>
			<tr>
				<td colspan="5" class="text-center medium-title">
					MEDICAMENTOS
				</td>
			</tr>
			<tr>
				<td colspan="5">
					Medicamento 1, dosis de 1 tableta diaria
				</td>
			</tr>

			<tr class="top-label">
				<td class="text-center">FIRMA Y SELLO DEL MÉDICO</td>
				<td class="text-center">REGISTRO PROFESIONAL</td>
				<td colspan="3">
					RECIBÍ CONFORME
					<br><br><br />
					<span>FIRMA</span>
				</td>
			</tr>
			<tr>
				<td colspan="5" class="text-center">
					<p class="foot">Calle 45 No. 19-51 · Tel.: 326 92 62 · E-mail: previmedisalud@gmail.com <br/> BARRANQUILLA - COLOMBIA</p>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>