{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Formato único de referencia y contrareferencia</title>
	<link rel="stylesheet" href="{% static 'css/styleReferencia.css' %}">
</head>
<body>
	<div class="container-referencia">
		<table class="table-referencia" border="1">
			<tr>
				<td class="text-center">
					<img src="{% static 'img/LOGO-PREVIMEDI.png' %}" alt="" width="250px">
				</td>
				<td class="line-head" colspan="3">
					<p class="text-right">HISTORIA No. 1019116846</p>
					<p class="text-center">FORMATO ÚNICO DE REFERENCIA Y CONTRAREFERENCIA</p>
					<p class="text-center h3">DATOS PERSONALES</p>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p>APELLIDOS Y NOMBRES<pre>PESTANA NOBLES JUAN PABLO</pre></p><br>
					<p>TIPO DOCUMENTO: <pre>CC</pre></p><br>
					<p>DOCUMENTO: <pre>1019116846</pre></p>
				</td>
				<td colspan="2">
					<p>EDAD: <pre>19 AÑOS</pre></p><br>
					<p>SEXO: <pre>M</pre></p><br>
					<p>TIPO DE USUARIO: <pre>F</pre></p>
				</td>
			</tr>
			<tr>
				<td>
					<p>TELÉFONO: <pre>6673009</pre></p>
				</td>
				<td colspan="2">
					<p>DIRECCIÓN: <pre>CALLE 92 #43 - 135</pre></p>
				</td>
				<td>
					<p>FECHA DE NACIMIENTO: <pre>DD/MM/YYYY</pre></p>
				</td>
			</tr>
			<tr>
				<td>
					<p>ESTADO CIVIL: <pre>SOLTERO</pre></p>
				</td>
				<td>
					<p>OCUPACIÓN: <pre>DESARROLLO</pre></p>
				</td>
				<td>
					<p>INICIO: <pre>inicio</pre></p>
				</td>
				<td>
					<p>FIN: <pre>fin</pre></p>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p>ACOMPAÑANTE: <pre>JOHN DOE</pre></p>
				</td>
				<td>
					<p>TELÉFONO: <pre>2145723</pre></p>
				</td>
				<td>
					<p>PARENTESCO: <pre>PADRE</pre></p>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p>RESPONSABLE: <pre>ANNY LOUIS</pre></p>
				</td>
				<td>
					<p>TELÉFONO: <pre>2145723</pre></p>
				</td>
				<td>
					<p>CIUDAD: <pre>BARRANQUILLA</pre></p>
				</td>
			</tr>
		</table>

		<p class="text-right with-spaces"><b>Fecha:</b> 19 de Enero del 2016 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Hora:</b> 10:00 a.m.</p>
		<p class="with-spaces text-justify"><b>ORIGEN:</b> LOREM IPSUM ET IAET DOLORE E MIE</p>

		<p><b>SIGNOS VITALES</b></p>
		<table class="table-referencia" border="1">
			<tr>
				<td>
					<p>Ta: <span>60/120</span></p>
				</td>
				<td>
					<p>Fc: <span>80</span></p>
				</td>
				<td>
					<p>Peso: <span>68kg</span></p>
				</td>
				<td>
					<p>Talla: <span>1,78m</span></p>
				</td>
				<td colspan="3">
					<p>Temp: <span>37º</span></p>
				</td>
			</tr>
		</table>
		<br>
		<p><b>RESUMEN HISTORIA CLÍNICA</b></p>
		<p class="text-justify">Lorem ipsum dolor sit amet, quo ut nostro verear nostrud, cetero discere mediocrem ut sit.</p>
		<div class="with-spaces"></div>
		<p><b>Diagnóstico</b></p>
		<p class="text-justify">t. Ex mei possit cotidieque, nonumes alienum phaedrum ad eos, commune recteque an sea. Numquam evertitur et vix, probo elaboraret eu vix. Accusata signiferumque ius eu, eos ut mutat electram.</p>
		<div class="with-spaces"></div>
		<p><b>SERVICIOS SOLICITADOS</b></p>
		<p class="text-justify">t. Ex mei possit cotidieque, nonumes alienum phaedrum ad eos, commune recteque an sea. Numquam evertitur et vix, probo elaboraret eu vix. Accusata signiferumque ius eu, eos ut mutat electram.</p>
		<div class="with-spaces"></div>
		<p><b>MOTIVO DE LA REFERENCIA</b></p>
		<p class="text-justify">t. Ex mei possit cotidieque, nonumes alienum phaedrum ad eos, commune recteque an sea. Numquam evertitur et vix, probo elaboraret eu vix. Accusata signiferumque ius eu, eos ut mutat electram.</p>

		<p class="sign_field">ODONTOLOGO O MÉDICO</p>
	</div>
</body>
</html>