*{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

.container-medicar{
	width: 1024px;
	margin: 0 auto;
}

.text-center{
	text-align: center;
}

.table-medicar {
	border-collapse: collapse;
	width: 860px;
	margin: 0 auto;
}
.table-medicar tr > td {
	padding: 1em;
	white-space: nowrap;
}

.table-medicar tr > td > span {
	font-size: 9pt;
}

.top-label > td {
	vertical-align: top;
	padding-top: 10px !important;
	padding-bottom: 20px;
	width: 33%;
	font-size: 14px;
}
.top-label > td:nth-child(2){
	width: 25%;
}
.medium-title {
	font-size: 14px;
	padding: 8px !important;
}
.foot {
	font-size: 14px;
}
.min-text {
	font-size: 12px;
	margin-top: 6px;
}

#medicamentosText {
	font-size: 16px;
}