*{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

.container-referencia{
	width: 860px;
	margin: 0 auto;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.h3 {
	font-size: .8em;
}

.table-referencia {
	border-collapse: collapse;
	width: 860px;
	margin: 0 auto;
}

.table-referencia tr > td {
	padding: 0.4em;
	white-space: nowrap;
}

.line-head p {
	line-height: 1.6em;
	font-size: 14px !important;
	font-weight: normal !important;
}
.table-referencia p{
	font-size: 14px;
	font-weight: bolder;
}
.table-referencia pre {
	font-size: 14px;
}
.table-referencia span {
	font-weight: normal;
}

.with-spaces {
	padding: 10px 0;
}
.sign_field {
	    margin-top: 5em;
}