*{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

.container-medicar{
	width: 1024px;
	margin: 0 auto;
}

.text-center{
	text-align: center;
}

.table-medicar {
	border-collapse: collapse;
	width: 860px;
	margin: 0 auto;
}
.table-medicar tr > td {
	padding: 1em;
	white-space: nowrap;
}

.table-medicar tr > td > span {
	font-size: 9pt;
}

.top-label > td {
	vertical-align: top;
	padding-top: 10px !important;
	padding-bottom: 20px;
	width: 33%;
	font-size: 14px;
}
.top-label > td:nth-child(2){
	width: 25%;
}
.medium-title {
	font-size: 14px;
	padding: 8px !important;
}
.foot {
	font-size: 14px;
}
.min-text {
	font-size: 12px;
	margin-top: 6px;
}

#medicamentosText {
	font-size: 16px;
}

.container-referencia{
	width: 860px;
	margin: 0 auto;
}

.text-right{
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.h3 {
	font-size: .8em;
}

.table-referencia {
	border-collapse: collapse;
	width: 860px;
	margin: 0 auto;
}

.table-referencia tr > td {
	padding: 0.4em;
	white-space: nowrap;
}

.line-head p {
	line-height: 1.6em;
	font-size: 14px !important;
	font-weight: normal !important;
}
.table-referencia p{
	font-size: 14px;
	font-weight: bolder;
}
.table-referencia pre {
	font-size: 14px;
}
.table-referencia span {
	font-weight: normal;
}

.with-spaces {
	padding: 10px 0;
}
.sign_field {
	    margin-top: 5em;
}