{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from suit_compat %}

{% block extrahead %}{{ block.super }}
  {% url 'admin:jsi18n' as jsi18nurl %}
  <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>

  {{ media }}

  <link rel="stylesheet" media="print" href="{% static 'css/styleMedicar.css' %}" />
  <link rel="stylesheet" media="print" href="{% static 'css/styleReferencia.css' %}" />
  <style>
    #medicamentos {
      width: 90%;
      resize: none;
      background-color: white;
      height: 200px;
      margin: 0 auto;
      padding: 5px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid #DDD;
      outline: none;
    }
    
    #modalReferencia {
      left: 45%;
      z-index: 1050;
      width: 740px;
      display: none;
    }
    #modalMedicamentos {
      display: none;
    }
    #myModal {
      display: none;
    }

    .table-medicar {
      display: none;
    }

    .container-referencia{
      display: none;
    }

  </style>
  
{% endblock %}


{% block extrajs %}
  {{ block.super }}

  {% if 'CONFIRM_UNSAVED_CHANGES'|suit_conf %}
    <!-- Warn on leaving unsaved form -->
    <script src="{% static 'suit/js/suit-form-confirm.js' %}"></script>
    <script type="text/javascript">
      confirmExitIfModified('{% firstof opts.model_name opts.module_name %}_form', '{% trans 'You have unsaved changes' %}.');
    </script>
  {% endif %}

  {% if adminform.model_admin.suit_form_tabs %}
    <script type="text/javascript">
    (function ($) {
      $(function () {
        $('#suit_form_tabs').suit_form_tabs();
      });
    }(Suit.$))
    </script>
  {% endif %}
        
  <script>
    (function ($) {
      $(function () {
        $("#{% firstof opts.model_name opts.module_name %}_form").suit_form_debounce();
      });
    }(Suit.$))

    function verHistoria(historia){
      window.open("/admin/HistoriaClinica/historiaclinica/"+historia+"?_to_field=id&_popup=1", "_blank");
    }

    function medicar(){
      $('#modalMedicamentos').modal('show');
    }

    function referencia(){
      $('#modalReferencia').modal('show');
    }

    function calcular_edad(fecha) {
            var fechaActual = new Date()
            var diaActual = fechaActual.getDate();
            var mmActual = fechaActual.getMonth() + 1;
            var yyyyActual = fechaActual.getFullYear();
            FechaNac = fecha.split("/");
            var diaCumple = FechaNac[0];
            var mmCumple = FechaNac[1];
            var yyyyCumple = FechaNac[2];
            //retiramos el primer cero de la izquierda
            if (mmCumple.substr(0,1) == 0) {
            mmCumple= mmCumple.substring(1, 2);
            }
            //retiramos el primer cero de la izquierda
            if (diaCumple.substr(0, 1) == 0) {
            diaCumple = diaCumple.substring(1, 2);
            }
            var edad = yyyyActual - yyyyCumple;

            //validamos si el mes de cumpleaños es menor al actual
            //o si el mes de cumpleaños es igual al actual
            //y el dia actual es menor al del nacimiento
            //De ser asi, se resta un año
            if ((mmActual < mmCumple) || (mmActual == mmCumple && diaActual < diaCumple)) {
            edad--;
            }
            return edad;
    }


    function medicacionMedicar(id_medicamento){
                      $.post("{% url 'Diagnosticos.views.getMedicamento' %}", {'codigo': id_medicamento}, function(response){
                        if(response != null && response != undefined && response != "" && response != 0 && response != '0'){
                            var html = "";
                          $.each(response, function(item, i){
                            html = "<tr><td><input type='text' value='"+i.nombre+"' name='nombreMedicamento_"+i.codigo+"' id='nombreMedicamento_"+i.codigo+"' class='nombreMedicamento' /></td><td><input type='text' value='"+i.presentacion+"' name='presMedicamento_"+i.codigo+"' id='presMedicamento_"+i.codigo+"' class='presMedicamento' /></td><td><input type='text' value='"+i.dosis+"' class='dosisMedicamento' name='dosisMedicamento_"+i.codigo+"' id='dosisMedicamento_"+i.codigo+"' class='dosisMedicamento' /></td><td><input type='text' value='' name='duracionMedicamento_"+i.codigo+"' id='duracionMedicamento_"+i.codigo+"' class='duracionMedicamento' /></td><td><input type='text' value='"+i.dosisMaxima+" en mg/día' name='dosisMaxima_"+i.codigo+"' id='dosisMaxima_"+i.codigo+"' class='dosisMaxima' readonly /></td></tr>";
                          });

                          $('#listaMedicacion').append(html);

                        }
                      });
                    }
  </script>
  
  
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block content_title_value %}
  {% trans 'Add' %} {{ opts.verbose_name }}
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{% firstof opts.app_config.verbose_name app_label|capfirst|escape %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        {% if has_change_permission %}
          <a href="{% url opts|admin_urlname:'changelist' %}">
            {{ opts.verbose_name_plural|capfirst }}</a>{% else %}
          {{ opts.verbose_name_plural|capfirst }}{% endif %}
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
      </li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}

<div class="modal fade" id="modalMedicamentos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Medicación</h4>
      </div>
      <div class="modal-body">
        <button style="margin-bottom: 10px;" class="btn btn-default" data-toggle="modal" data-target="#modalListaMedicamentos">Añadir medicamento</button>

        <table class="table">
          <thead>
            <th>Nombre</th>
            <th>Presentación</th>
            <th>Dosis (mg/día)</th>
            <th>Veces al día</th>
            <th>Dosis máxima (mg/día)</th>
          </thead>
          <tbody id="listaMedicacion">
            
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="imprimirMedicacion">Imprimir medicación</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalListaMedicamentos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Medicación</h4>
      </div>
      <div class="modal-body">
        <ul id="listaMedicamentos">
          
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

  <div id="content-main" class="inner-two-columns">

    <table class="table-medicar" border="1">
      <tr>
        <td class="text-center" rowspan="2">
          LOGO
        </td>
        <td colspan="3">
          <span>Nombres y apellidos:</span> <br>
          {{ original.historia_clinica.afiliado.apellido1 }} {{ original.historia_clinica.afiliado.apellido2 }} {{ original.historia_clinica.afiliado.nombre1 }} {{ original.historia_clinica.afiliado.nombre2 }}
        </td>
        <td>
          <span>Fecha:</span> <br>
          {{ original.fecha_consulta }}
        </td>
      </tr>
      <tr>
        <td>
          <span>Tipo de identificación:</span> {{ original.historia_clinica.afiliado.tipo_documento }}
        </td>
        <td colspan="3">
          <span>No. de documento:</span> <br/>
          {{ original.historia_clinica.afiliado.documento }}
        </td>
      </tr>
      <tr>
        <td colspan="5" class="text-center medium-title">
          MEDICAMENTOS
        </td>
      </tr>
      <tr>
        <td colspan="5" id="medicamentosText">
          
        </td>
      </tr>

      <tr class="top-label">
        <td class="text-center">
          <span>FIRMA Y SELLO DEL MÉDICO</span>
          <br />
          {% if not request.user.is_superuser and request.user.groups.all.0.name == "MEDICO" %}
            <br><br>
            {{ request.user.first_name }} {{ request.user.last_name }}
          {% endif %}
        </td>
        <td class="text-center"><span>REGISTRO PROFESIONAL</span></td>
        <td colspan="3">
          RECIBÍ CONFORME
          <br><br><br />
          <span>FIRMA</span>
        </td>
      </tr>
    </table>

    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
          id="{% firstof opts.model_name opts.module_name %}_form" class="form-horizontal">

      <div class="inner-right-column">

        <div class="box save-box">
          {% if change %}
            <button class="btn btn-success btn-high" type="button" onclick="verHistoria({{original.historia_clinica.pk}});"><i class="icon-folder-open icon-white"></i> Ver historia clínica</button>
            <button class="btn btn-warning btn-high" type="button" onclick="medicar();"><i class="icon-tags icon-white"></i> Medicamentos</button>
          {% endif %}
          
          {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
        </div>

        {% block object-tools %}
          {% if change %}{% if not is_popup %}
            <h4 class="italic-title">{% trans 'tools'|capfirst %}</h4>
            <ul class="box menu-box">
              {% block object-tools-items %}
                <li><a href="history/" class="historylink"><i
                    class="icon-time icon-alpha75"></i>{% trans "History" %}</a>
                </li>
                {% if has_absolute_url %}
                  <li>
                    <a href="{{ original.get_absolute_url }}" class="viewsitelink"><i class="icon-eye-open icon-alpha75"></i>{% trans "View on site" %}</a>
                  </li>
                {% endif %}

                {% if has_add_permission %}
                  <li>
                    <a href="../add/"><i class="icon-plus-sign icon-alpha75"></i>{% blocktrans with opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                    </a></li>
                  {# {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>#}
                {% endif %}

              {% endblock %}
            </ul>
          {% endif %}{% endif %}
        {% endblock %}

      {% block sidebar %}{% endblock %}

      </div>
      <div class="inner-center-column">
        {% csrf_token %}{% block form_top %}{% endblock %}
        {% block suit_form_tabs %}
          {% if adminform.model_admin.suit_form_tabs %}
            <ul id="suit_form_tabs" class="nav nav-tabs nav-tabs-suit" data-tab-prefix="suit-tab">
              {% for tab in adminform.model_admin.suit_form_tabs %}
                <li><a href="#{{ tab.0 }}">{{ tab.1 }}</a></li>{% endfor %}
            </ul>
          {% endif %}
        {% endblock %}
        <div class="tab-content tab-content-main">
          {% if is_popup %}
            <input type="hidden" name="_popup" value="1"/>{% endif %}
          {% if errors %}
            <div class="alert alert-error">
              {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %} Please correct the errors below.{% endblocktrans %}
              {{ adminform.form.non_field_errors }}
            </div>
          {% endif %}

          {# render suit_form_includes at top position #}
          {% include 'suit/includes/change_form_includes.html' with position='top' %}

          {% block field_sets %}
            {% for fieldset in adminform %}
              {% include "admin/includes/fieldset.html" %}
            {% endfor %}
          {% endblock %}

          {% block after_field_sets %}{% endblock %}

          {# render suit_form_includes at middle position #}
          {% include 'suit/includes/change_form_includes.html' with position='middle' %}

          {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
              {% include inline_admin_formset.opts.template %}
            {% endfor %}
          {% endblock %}

        </div>

        {% block after_related_objects %}{% endblock %}

        {# render suit_form_includes at last position #}
        {% include 'suit/includes/change_form_includes.html' with position='bottom' %}

        {% block admin_change_form_document_ready %}
            <script src="{% static 'js/liveFilter.js' %}"></script>
            <script type="text/javascript">
                (function($) {
                    $(document).ready(function() {
                        $('#medicamentos').contentEditable = true;

                        $('.add-another').click(function(e) {
                            e.preventDefault();
                            showAddAnotherPopup(this);
                        });
                        $('.related-lookup').click(function(e) {
                            e.preventDefault();
                            showRelatedObjectLookupPopup(this);
                        });
                        
                        $.getJSON("{% url 'Diagnosticos.views.getMedicamentos' %}", function(json){
                          if(json != null && json != undefined){
                            $.each(json, function(key, value){
                              $('#listaMedicamentos').append('<li><a href="#" onclick="medicacionMedicar(\''+value.pk+'\');">'+value.nombre+'</a></li>');
                            });  
                          }
                        });

                        $('#imprimirMedicacion').click(function(e){
                          e.preventDefault();
                                                

                          var medicamentosTxt = "";
                          var peso = $('#id_revisionconsultageneral_set-0-peso').val();
                          var flag = false;
                          $('#listaMedicacion tr').each(function(){
                            var dosisNormal = $(this).find('td').find('.dosisMedicamento').val();
                            var dosisMaxima = $(this).find('td').find('.dosisMaxima').val();
                            var nombre = $(this).find('td').find('.nombreMedicamento').val();
                            var presentacion = $(this).find('td').find('.presMedicamento').val();
                            var duracion = $(this).find('td').find('.duracionMedicamento').val();



                            medicamentosTxt += "- "+nombre+", "+dosisNormal+" mg, "+duracion+" veces al día. "+presentacion+"<br /><br/>";
                            try{
                              var dosisDeseada = parseFloat(dosisNormal) * parseFloat(duracion);
                              if(dosisDeseada > parseFloat(dosisMaxima)){
                                flag = true;
                              }
                            }catch(e){
                              // Nada
                            }
                            
                          });

                          if(flag == true){
                            var confirmar = confirm("Existen prescripciones incorrectas. ¿Desea continuar con la impresión de medicamentos?");
                            if(confirmar){
                              $('#medicamentosText').html(medicamentosTxt);

                              var mywindow = window.open('', 'Medicamentos', 'height=800,width=600');
                              mywindow.document.write('<html><head><title>Medicamentos</title>');
                              mywindow.document.write('<link rel="stylesheet" type="text/css" href="/static/css/styleMedicar.css" media="all"/>');
                              mywindow.document.write('</head><body ><table class="table-medicar" border="1">');
                              mywindow.document.write($('.table-medicar').html());
                              mywindow.document.write('</table></body></html>');
                              mywindow.print();
                              mywindow.close();
                            }
                          }else{
                            $('#medicamentosText').html(medicamentosTxt);

                              var mywindow = window.open('', 'Medicamentos', 'height=800,width=600');
                              mywindow.document.write('<html><head><title>Medicamentos</title>');
                              mywindow.document.write('<link rel="stylesheet" type="text/css" href="http://107.170.232.151:8081/static/css/styleMedicar.css" media="all"/>');
                              mywindow.document.write('</head><body ><table class="table-medicar" border="1">');
                              mywindow.document.write($('.table-medicar').html());
                              mywindow.document.write('</table></body></html>');
                              mywindow.print();
                              mywindow.close();
                          } 
                          

                        });

                    {% if adminform and add %}
                        $('form#{% firstof opts.model_name opts.module_name %}_form :input[type!=button][type!=submit]:visible:enabled:first').focus()
                    {% endif %}
                    });
                })(django.jQuery);
            </script>
        {% endblock %}

        {# JavaScript for prepopulated fields #}
        {% prepopulated_fields_js %}

      </div>
    </form>
  </div>
{% endblock %}

{# Empty centered sidebar as now we use sidebar in content block#}
{% block sidebar_content %}{% endblock %}
